<nav class="navbar">
  <div class="nav-container">
    <a class="logo" routerLink="/">
      <span class="logo-icon">
        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="32" height="22" rx="5" fill="#FF0000"/>
          <polygon points="13,6 13,16 22,11" fill="white"/>
        </svg>
      </span>
      <span class="logo-text">Makeyteasy</span>
    </a>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      <li><a href="#" class="yt-link">YouTube Videos</a></li>
      <li><a routerLink="/gear" routerLinkActive="active">My Gear</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <a href="#" class="btn-subscribe-nav">
      <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="14" rx="3" fill="white"/>
        <polygon points="8,3.5 8,10.5 14.5,7" fill="#FF0000"/>
      </svg>
      Subscribe on YouTube
    </a>
  </div>
</nav>
